<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730243557174-51ljnd7pvgisv3p605p74emill7bbk65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730243557174-51ljnd7pvgisv3p605p74emill7bbk65</string>
	<key>API_KEY</key>
	<string>AIzaSyArUfZCQTns_C4nReIkbdYF8cfA4YUtVWo</string>
	<key>GCM_SENDER_ID</key>
	<string>730243557174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.fibeapp.Mielofon</string>
	<key>PROJECT_ID</key>
	<string>mielofon-2f64d</string>
	<key>STORAGE_BUCKET</key>
	<string>mielofon-2f64d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730243557174:ios:a1f5ff812c240d3d627597</string>
</dict>
</plist>